body {
	background-color: cornflowerblue;
}
.table {
	display: table;
	width: 100%;
	background-color: #fff;
	table-layout: fixed;
	border-collapse: collapse;
}
.table .tr {
	display: table-row;
}
.table .tr .td {
	text-align: center;
	height: 200px;
	display: table-cell;
	border: 10px solid #000;
	vertical-align: middle;
	position: relative;
}
.td-header {
	position: absolute;
	top: 0;
	width: 100%;
}
.td-content {
	height: 100%;
	padding: 60px 20px 30px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.td-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.btn-default {

}


/******* Slide *******/

.rectangle-wrap {
	width: 200px;
	height: 100px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}
.rectangle {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-weight: bold;
	font-size: 34px;
	width: 200px;
	height: 100px;
	background-color: #FF7F50;
	position: absolute;
	animation-name: show;
	animation-duration: 1s;
}
.rectangle.down {
	opacity: 0;
	animation-name: hide;
	animation-duration: 1s;
}

@keyframes show {
	0% {
		opacity: 0;
		bottom: -100px;
	}
	100% {
		opacity: 1;
		bottom: 0;
	}
}

@keyframes hide {
	0% {
		opacity: 1;
		bottom: 0;

	}
	100% {
		opacity: 0;
		bottom: -300px;
	}
}


/******* Rolling notice *******/

.rolling-notice {
	margin-top: 20px;
	height: 38px;
	overflow: hidden;
}
.rolling-notice .notice {
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 38px;
	display: block;
}
.rolling-notice .notice:before {
	content: 'HEY';
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 29px;
	height: 17px;
	display: inline-block;
	background-color: #ff3333;
	line-height: 18px;
	border-radius: 9px;
	margin-right: 7px;
	margin-bottom: 2px;
	vertical-align: middle;
}
.rolling-notice .notice.on {
	will-change: animation;
	animation: scrollTop 5s;
}

@keyframes scrollTop {
	5% {
		margin-top: 0;
	}
	95% {
		margin-top: 0;
	}
	100% {
		margin-top: -38px;
	}
}